.StartGame {
  font-family: "Pacifico", cursive;
  align-items: center;
  color: rgb(255, 30, 0);
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  grid-area: start;
}

.Restart:hover {
  color: rgb(255, 162, 0);
}
