.StartGame {
  font-family: 'Bonbon', cursive;
  align-items: center;
  color: rgb(0, 60, 255);
  cursor: pointer;
  display: flex;
  font-size: 4rem;

  grid-area: start;
}

.StartGame:hover {
  color: rgb(255, 162, 0);
}
