.mainContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0.5rem;
}

.subMenu {
  display: flex;
  height: 2rem;
  justify-content: space-around;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 80vw;
}
