.Tile {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
}

.tileImage {
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

.tileWithBorder {
  background-color: #3cf5fb;
  border: 1px solid #7a9e9f;
}
