.Restart {
  font-family: "Pacifico", cursive;
  align-items: center;
  color: rgb(255, 30, 0);
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  grid-area: start;
}

.Restart:hover {
  color: rgb(255, 162, 0);
}

.pulse {
  animation: pulse 3s infinite;
  animation-timing-function: ease-in-out;
  /* animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: pulse; */
}

@keyframes pulse {
  0% {
    color: #fc72a9;
  }
  50% {
    color: #ff4136;
  }
  80% {
    color: blue;
  }
}
