.TilesBox {
  aspect-ratio: 1 / 1;
  background-color: rgb(247, 217, 173);
  border: 1px solid rgb(177, 139, 14);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 3rem auto;
  padding: 1rem;
  width: 70vw;
}
